h1, h2{
    color:#3f51b5!important;
}

h1{
    font-weight: bold!important;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 20px;
}

.infos{
    margin: 18px;
    font-size: 30px;
}

.description{
    margin: 18px;
    font-size: 24px;
}

.footer {
  color: lightgray;
}

a:link, a:visited {
    color:#3f51b5;
    text-decoration: none;
}

a:hover, a:active{
    color:#3f51b5;
    text-decoration: none;
    font-style: italic;
}

a.footer-link:link, a.footer-link:visited {
    color:lightgray;
    text-decoration: none;
}

a.footer-link:hover, a.footer-link:active{
    color:lightgray;
    text-decoration: none;
    font-style: italic;
}


.page-title{
    font-size: 30px;
    text-align: right;
}
