<!DOCTYPE html>
<html>
  {{- partial "header.html" . -}}
  {{- partial "head.html" . -}}
    <body>
        <div class="w3-container", style="margin-top: 3.8em;">
        {{- block "main" . }}{{- end }}
        <script>
          function show(id) {
          var x = document.getElementById(id);
          if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
          } else {
          x.className = x.className.replace(" w3-show", "");
          }
          }

          function showPopup(id) {
          let container = document.getElementById(id);
          container.classList.add('show');
          container.addEventListener('click', (event) => {
          if (event.target.matches('.popupContainer')) {
          container.classList.remove('show');
          }
          });
          }

        </script>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
